<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track user.id) {
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>
            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
          </td>
          <td>
            <button
              class="btn btn-primary btn-sm mr-2"
              (click)="editUser(user.id)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm position-relative overflow-hidden"
              (mousedown)="onDeleteHoldStart(user.id)"
              (mouseup)="onDeleteHoldEnd()"
              (mouseleave)="onDeleteHoldEnd()"
            >
              <span
                *ngIf="loadUserId === user.id"
                class="loading-bar"
                [style.width.%]="progress"
              ></span>
              <span class="position-relative" style="z-index: 2"></span>
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
