<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name*</label>
        <input
          type="text"
          [(ngModel)]="user.name"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your name"
          required
          #name="ngModel"
        />
      </div>
      @if (name.invalid && (name.dirty || name.touched)) {
      <div class="alert alert-danger">Name is required</div>
      }
      <div class="form-group">
        <label for="email">Email*</label>
        <input
          type="text"
          [(ngModel)]="user.email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email address"
          required
          pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
          #email="ngModel"
        />
      </div>
      @if (email.invalid && (email.dirty || email.touched)) {
      <div class="alert alert-danger">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['pattern']">
          Please enter a valid email address (e.g. henry{{ "@" }}skalitz.com)
        </div>
      </div>
      }
      <button
        type="submit"
        [disabled]="!userForm.form.valid"
        class="btn btn-info"
      >
        Submit
      </button>
      <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">
        Cancel
      </button>
    </form>
  </div>
</div>
